body {
  margin: 0;
  padding: 0;
}

/*=====Logo=====*/

.logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.logo .name h1{
  margin-left: 20px;
  font-family: monospace;
  font-size: 50px;
}
.logo .logo-cloth img{
  position: relative;
  height: 200px;
  width: 180px;
  left: 100px;
}
.logo .home{
  position: relative;
  width: 80px;
  height: 80px;
  right: 50px;
}
.logo .home img{
  width: 100%;
  height: 100%;;
}
.logo .home img:hover{
  background-color: gray;
  border-radius: 50%;
}

/*=====Photo-Product=====*/

.photo-container{
  position: relative;
  width: 400px;
  height: 500px;
  background-color: grey;
  left: 50px;
  align-items: center;
  display: flex;
}
.photo-container img{
  width: 100%;
  height: 100%;
}
.photo-container h1{
  margin-left: 130px;
  font-size: 50px;
  font-family: monospace;
}

/*=====Sign Here=====*/

.nav{
  position: relative;
  width: 100%;
  height: 90px;
  background-color: gray;
}
.nav h1{
  text-align: center;
  color: white;
  padding-top: 20px;
}
.bar{
  position: relative;
  background-color: lightgrey;
  width: 98%;
  height: 900px;
  margin: 10px;
  border: 2px solid black;
}
.first{
  position: relative;
  padding-top: 50px;
  padding-left: 120px;
  font-family: monospace;
}
.fname{
  position: relative;
  margin-left: 120px;
  width: 300px;
  height: 25px;
  font-size: 20px;
  border: 3px solid gray;
}
.last{
  position: relative;
  text-align: center;
  top: -110px;
  margin-left: 280px;
  font-family: monospace;
}
.lname{
  position: relative;
  float: right;
  right: 120px;
  top: -110px;
  width: 300px;
  height: 25px;
  font-size: 20px;
  border: 3px solid gray;
}
.add{
  position: relative;
  margin-left: 20px;
  font-family: monospace;
}
.location{
  position: relative;
  left: 20px;
  width: 600px;
  height: 25px;
  font-size: 20px;
  border: 3px solid gray;
}
.size{
  position: relative;
  margin-left: 20px;
  font-family: monospace;
}
.size-shirt{
  position: relative;
  left: 20px;
  width: 150px;
  height: 25px;
  font-size: 20px;
  border: 3px solid gray;
}
.quanty{
  position: relative;
  margin-left: 20px;
  font-family: monospace;
}
.qty{
  position: relative;
  left: 20px;
  width: 150px;
  height: 25px;
  font-size: 20px;
  border: 3px solid gray;
}
.con{
  position: relative;
  margin-left: 20px;
  font-family: monospace;
}
.cont{
  position: relative;
  left: 20px;
  width: 380px;
  height: 25px;
  font-size: 20px;
  border: 3px solid gray;
}
.pay{
  position: relative;
  margin-left: 20px;
  font-family: monospace;
}
.paying{
  position: relative;
  left: 20px;
  width: 380px;
  height: 25px;
  font-size: 20px;
  border: 3px solid gray;
}
.order1{
  position: relative;
  float: right;
  right: 130px;
  width: 300px;
  height: 140px;
  bottom: 50px;
  font-size: 30px;
  border-radius: 15px;
  border: 5px solid goldenrod;
  background-color: black;
  color: white;
}
.order1:hover{
  background-color: white;
  color: black;
}